<!DOCTYPE html>
<html>

<head>

  
 <!-- <script src="node_modules/angular/angular.min.js"></script>-->
  <script src="node_modules/angular/angular.js"></script>
  
  <!--<link rel="stylesheet" href="node_modules/angular-material/angular-material.css" />-->
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/angular-messages/angular-messages.js"></script> 
  <script src="node_modules/angular-material/angular-material.js"></script> 
  <script src="node_modules/angular-animate/angular-animate.js"></script> 
  <script src="node_modules/angular-aria/angular-aria.js"></script> 
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script> -->
  
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i,900,900i"
    type="text/css" media="all">
  <link rel="stylesheet" href="css/mycss.css">
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" /> 


</head>



<body ng-app="app" ng-controller="menuCtrl">



  <div
    style="height:100%; background-image: url('images/paper-boats-on-solid-surface-194094.jpg'); background-size: 1200px;"
    class="ng-scope layout-column">


    <div class="flex-100">

      <div style="height:100%" class="ng-scope layout-row">

        <div class="flex-20" style="border-style: groove;height:130%">
          <div style="height:10%" class="ng-scope layout-row">
            <!-- searchbar block -->
            <div class="flex-80">


              <div ng-show="showAllPersons">
                <input class="searchbar" type="text" placeholder="search" ng-model="searchText.firstName" />
              </div>
              <div ng-show="showAllRooms">
                <input class="searchbar" type="text" placeholder="search" ng-model="search.roomName" />
              </div>
            </div>
            <div class="flex-20">
              <!-- add button -->
              <button class="addButton" ng-show="showAllPersons" ng-click="addPerson()"><i class="material-icons">
                add_circle_outline
                </i> </button>
              <button class="addButton" ng-show="showAllRooms" ng-click="addRoom()"> <i class="material-icons">
                add_circle_outline
                </i> </button>

            </div>




          </div>

          <!---  menu items -->
          <div ng-disabled="showAllPersons">
            <p class="mainMenu" ng-click="showPersons()"><button class="menuItemsButton"
                ng-disabled="showAllPersons">Persons
              </button></p>
          </div>

          <div ng-show="showAllPersons" >
            <ul ng-repeat="person in persons | filter:searchText">
                  
              <div class="ng-scope layout-row">
                <div class="flex-85">
                <li style="font-size: 18px;" class="firstName" > <a href="#!/personInfoRoute/{{person.key}}">{{person.firstName}} </a> </li>
                </div>
                <div class="flex-30">    
                  <i ng-click="deletePerson(person.key)" style="color: rgb(209, 65, 65);" class="material-icons">delete</i>
                  </div>
              </div>

            </ul>


          </div>

          <p class="mainMenu" ng-click="showRooms()"> <button class="menuItemsButton" ng-disabled="showAllRooms">Rooms
            </button></p>
          <div ng-show="showAllRooms">
            <ul ng-repeat="room in rooms | filter:search">
              <div class="ng-scope layout-row">
              <div class="flex-85">
                <li style="font-size: 18px;" class="firstName"><a href="#!/roomInfoRoute/{{room.key}}"> {{room.roomName}} </a>  </li>
              </div>
              <div class="flex-30">    
                <i ng-click="deleteRoom(room.key)" style="color: rgb(209, 65, 65);" class="material-icons">delete </i>
                </div>   
              </div>       
            </ul>


          </div>

        </div>
        <div class="flex-80">
          <!-- Main page -->
          <div style="height:100%" class="ng-scope layout-column">
            <div class="flex-90" style="border-style: groove;">
              <h3 style="text-align: center;">index page</h3>

              <div ng-view></div>

            </div>
            <div class="flex-10">
              <!-- Footer -->
              <div style="text-align: center;">
                <a href="https://www.amaris.com/" style="margin-right:5px">Amaris</a>
                <a href="https://www.thalesgroup.com/en/italy" style="margin-right:5px">Thales</a>
                <a href="https://www.thalesgroup.com/en/views/address-book" style="margin-right:5px">Address book</a>
                <a href="https://www.amaris.com/about/">About</a>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    <!--footer-->
  </div>

  </div>

  <script src="modules/app.js"></script>
  <script src="Controllers/AppCtrl.js"></script>
  <script src="Services/personService.js"></script>
  <script src="Services/roomService.js"></script>
  <script src="Controllers/menuCtrl.js"></script>
  <script src="Controllers/personCtrl.js"></script>
  <script src="Controllers/roomCtrl.js"></script>
  









</body>

</html>