<div ng-controller='personCtrl'>
<h2>Person details: </h2><br>
<div ng-init="showPersonInfo()">
<form class="myForm">
        First name:<br>
        <input type="text" ng-model="firstName"> <br> 
        Last Name:<br>
        <input type="text" ng-model="lastName"> <br>
        Codice Fiscale:<br>
        <input type="text" ng-model="key"> <br> <br>
      <!--  <a href="#!/personChanged"> <button style="background-color:  #3ea8f3; border: black;"  type="submit" value="Submit" ng-click="modifyPerson(firstName,lastName,key)">Modify</button> </a> -->
      <button style="background-color:  #3ea8f3; border: black;"  type="submit" value="Submit" >Modify</button>  
      <button style="background-color: #3ea8f3;border: black; margin-left: 100px;"  type="reset" value="Reset">Reset</button>
      </form>
    </div>
</div>