
<h3 style="text-align: center;">Room is occupied/free on the following time </h3> <br>

<md-content ng-controller="AppCtrl as ctrl" layout-padding ng-cloak>
    <div layout-gt-xs="row">
      <div flex-gt-xs>
        <h4>Enter start time:</h4>
        <md-datepicker ng-model="ctrl.startDate" md-placeholder="Enter date"></md-datepicker>

        <h4>Enter End time:</h4>
        <md-datepicker ng-model="ctrl.endDate" md-placeholder="Enter date"></md-datepicker>
      </div> 
    </div>

  </md-content>
