<div ng-controller='roomCtrl'>
<h2>Room details: </h2><br>
<div ng-init="showRoomInfo()">
        <form class="myForm">
          Room Name:<br>
          <input type="text" ng-model="roomName"> <br>
          Room Size :<br>
          <input type="text" ng-model="roomSize"> <br>
          Key:<br>
          <input type="text" ng-model="key"> <br> <br> 
          <button style="background-color:  #3ea8f3;"  type="submit" value="Submit" >Modify</button>  
          <button style="background-color: #3ea8f3; margin-left: 13px;"  type="reset" value="Reset">Reset</button>
          <a href="#!/reserveRoom">    <button style="background-color: #3ea8f3; margin-left: 13px;"  ng-click="reserveRoom(key)">Prenota</button> </a>
        </form>
      </div>
</div>